<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <a [routerLink]="'/'"> <img src="assets/img/logo.png" alt="QuBeyond Logo"> </a>
    <span class="menu-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
      <mat-nav-list>
          <a class="menu-item" mat-list-item [routerLink]="'/'"> <mat-icon>home</mat-icon> Home </a>
          <a class="menu-item" mat-list-item [routerLink]="'/planet'"> <mat-icon>build</mat-icon> Planet </a>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <div class="main-container">
          <router-outlet></router-outlet>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>