<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1>QuBeyond</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/planet'"> Planet </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a mat-list-item [routerLink]="'/planet'"> Planet </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="main-container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>