<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <a [routerLink]="'/'"> <img src="assets/img/logo.png" alt="QuBeyond Logo"> </a>
    <span class="menu-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
      <mat-nav-list>
          <a class="menu-item" mat-list-item [routerLink]="'/'"> <mat-icon>home</mat-icon> Home </a>
          <a class="menu-item" mat-list-item [routerLink]="'/planets'"> <mat-icon>language</mat-icon> Planets </a>
          <a class="menu-item" mat-list-item [routerLink]="'/people'"> <mat-icon>person</mat-icon> People </a>
          <a class="menu-item" mat-list-item [routerLink]="'/species'"> <mat-icon>filter_vintage</mat-icon> Species </a>
          <a class="menu-item" mat-list-item [routerLink]="'/starships'"> <mat-icon>airplanemode_active</mat-icon> Starships </a>
          <a class="menu-item" mat-list-item [routerLink]="'/vehicles'"> <mat-icon>airport_shuttle</mat-icon> Vehicles </a>
          <a class="menu-item" mat-list-item [routerLink]="'/films'"> <mat-icon>star</mat-icon> Films </a>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <div class="main-container">
          <router-outlet></router-outlet>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>