.image-cropper {
  overflow: hidden;
  border-radius: 50%;
  background-color: #f3f3f3;

  .circle-pic {
    height: 100%;
    width: auto;
    display: inline;
    margin: 0 auto 0 -25%; //centers the image
    background-color: #f3f3f3;
  }
}

.bordered-img {
  border-style: solid;
  border-color: white;
}
