
<div class="container-fluid d-flex flex-column">
    <div class="d-flex">
        <h1>Welcome to Star Wars Dashboard!</h1>
    </div>
    <div class="d-flex flex-column flex-grow-1">
        <p *ngIf="numbersMap.length == 0">Please wait a few seconds! We are loading an amazing data!</p>
        <p *ngIf="numbersMap.length == 0">Please open the project with Google Chrome. Swapi.dev has problems with CORS policy.</p>
        <ngx-charts-number-card matTooltip="Click on me!" 
        [scheme]="colorScheme" [results]="numbersMap" [animations]="true"
        [innerPadding]="8" (select)="onSelectNumber($event)">
        </ngx-charts-number-card>
    </div>
    <h3>What can be done?</h3>
    <p>Click on all the number card boxes, click on a specific planet to see its residents.</p>
    <h3>What was used to develop this?</h3>
    <p>Angular 10, Angular Material & ngx-charts</p>
    <hr>
    <p>The code: <a class="link-ref" target="_blank" href="https://github.com/mgesuitti/qubeyond">https://github.com/mgesuitti/qubeyond</a></p>
</div>
